---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/petrokoriakin/scorecard-sample/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a0a0f1400b0904850bd40b6ec4db7a360fb0f85afb6c5746b7fa1ed7911361a6"
      Last-Modified:
      - Tue, 27 Apr 2021 16:45:32 GMT
      X-Poll-Interval:
      - '60'
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/362177515/events?page=2>; rel="next",
        <https://api.github.com/repositories/362177515/events?page=2>; rel="last"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '55'
      X-Ratelimit-Reset:
      - '1619553959'
      X-Ratelimit-Used:
      - '5'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"16107632716","type":"PushEvent","actor":{"id":242224,"login":"petrokoriakin","display_login":"petrokoriakin","gravatar_id":"","url":"https://api.github.com/users/petrokoriakin","avatar_url":"https://avatars.githubusercontent.com/u/242224?"},"repo":{"id":362177515,"name":"petrokoriakin/scorecard-sample","url":"https://api.github.com/repos/petrokoriakin/scorecard-sample"},"payload":{"push_id":6996241304,"size":1,"distinct_size":1,"ref":"refs/heads/main","head":"ddba76834cd5e62738a4e913cf528a77a508d481","before":"8be1ae4f9b1e979154336cf1881357712e9144dc","commits":[{"sha":"ddba76834cd5e62738a4e913cf528a77a508d481","author":{"email":"ortepko@gmail.com","name":"Petro
        Koriakin"},"message":"add contents for discuss section (#4)","distinct":true,"url":"https://api.github.com/repos/petrokoriakin/scorecard-sample/commits/ddba76834cd5e62738a4e913cf528a77a508d481"}]},"public":true,"created_at":"2021-04-27T16:45:32Z"},{"id":"16107632609","type":"PullRequestEvent","actor":{"id":242224,"login":"petrokoriakin","display_login":"petrokoriakin","gravatar_id":"","url":"https://api.github.com/users/petrokoriakin","avatar_url":"https://avatars.githubusercontent.com/u/242224?"},"repo":{"id":362177515,"name":"petrokoriakin/scorecard-sample","url":"https://api.github.com/repos/petrokoriakin/scorecard-sample"},"payload":{"action":"closed","number":4,"pull_request":{"url":"https://api.github.com/repos/petrokoriakin/scorecard-sample/pulls/4","id":624468149,"node_id":"MDExOlB1bGxSZXF1ZXN0NjI0NDY4MTQ5","html_url":"https://github.com/petrokoriakin/scorecard-sample/pull/4","diff_url":"https://github.com/petrokoriakin/scorecard-sample/pull/4.diff","patch_url":"https://github.com/petrokoriakin/scorecard-sample/pull/4.patch","issue_url":"https://api.github.com/repos/petrokoriakin/scorecard-sample/issues/4","number":4,"state":"closed","locked":false,"title":"add
        contents for discuss section","user":{"login":"petrokoriakin","id":242224,"node_id":"MDQ6VXNlcjI0MjIyNA==","avatar_url":"https://avatars.githubusercontent.com/u/242224?v=4","gravatar_id":"","url":"https://api.github.com/users/petrokoriakin","html_url":"https://github.com/petrokoriakin","followers_url":"https://api.github.com/users/petrokoriakin/followers","following_url":"https://api.github.com/users/petrokoriakin/following{/other_user}","gists_url":"https://api.github.com/users/petrokoriakin/gists{/gist_id}","starred_url":"https://api.github.com/users/petrokoriakin/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/petrokoriakin/subscriptions","organizations_url":"https://api.github.com/users/petrokoriakin/orgs","repos_url":"https://api.github.com/users/petrokoriakin/repos","events_url":"https://api.github.com/users/petrokoriakin/events{/privacy}","received_events_url":"https://api.github.com/users/petrokoriakin/received_events","type":"User","site_admin":false},"body":"","created_at":"2021-04-27T16:43:15Z","updated_at":"2021-04-27T16:45:31Z","closed_at":"2021-04-27T16:45:31Z","merged_at":"2021-04-27T16:45:31Z","merge_commit_sha":"ddba76834cd5e62738a4e913cf528a77a508d481","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/petrokoriakin/scorecard-sample/pulls/4/commits","review_comments_url":"https://api.github.com/repos/petrokoriakin/scorecard-sample/pulls/4/comments","review_comment_url":"https://api.github.com/repos/petrokoriakin/scorecard-sample/pulls/comments{/number}","comments_url":"https://api.github.com/repos/petrokoriakin/scorecard-sample/issues/4/comments","statuses_url":"https://api.github.com/repos/petrokoriakin/scorecard-sample/statuses/94a284075f5ec417b9f2e951146695c278a33703","head":{"label":"petrokoriakin:discuss-section-contents","ref":"discuss-section-contents","sha":"94a284075f5ec417b9f2e951146695c278a33703","user":{"login":"petrokoriakin","id":242224,"node_id":"MDQ6VXNlcjI0MjIyNA==","avatar_url":"https://avatars.githubusercontent.com/u/242224?v=4","gravatar_id":"","url":"https://api.github.com/users/petrokoriakin","html_url":"https://github.com/petrokoriakin","followers_url":"https://api.github.com/users/petrokoriakin/followers","following_url":"https://api.github.com/users/petrokoriakin/following{/other_user}","gists_url":"https://api.github.com/users/petrokoriakin/gists{/gist_id}","starred_url":"https://api.github.com/users/petrokoriakin/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/petrokoriakin/subscriptions","organizations_url":"https://api.github.com/users/petrokoriakin/orgs","repos_url":"https://api.github.com/users/petrokoriakin/repos","events_url":"https://api.github.com/users/petrokoriakin/events{/privacy}","received_events_url":"https://api.github.com/users/petrokoriakin/received_events","type":"User","site_admin":false},"repo":{"id":362177515,"node_id":"MDEwOlJlcG9zaXRvcnkzNjIxNzc1MTU=","name":"scorecard-sample","full_name":"petrokoriakin/scorecard-sample","private":false,"owner":{"login":"petrokoriakin","id":242224,"node_id":"MDQ6VXNlcjI0MjIyNA==","avatar_url":"https://avatars.githubusercontent.com/u/242224?v=4","gravatar_id":"","url":"https://api.github.com/users/petrokoriakin","html_url":"https://github.com/petrokoriakin","followers_url":"https://api.github.com/users/petrokoriakin/followers","following_url":"https://api.github.com/users/petrokoriakin/following{/other_user}","gists_url":"https://api.github.com/users/petrokoriakin/gists{/gist_id}","starred_url":"https://api.github.com/users/petrokoriakin/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/petrokoriakin/subscriptions","organizations_url":"https://api.github.com/users/petrokoriakin/orgs","repos_url":"https://api.github.com/users/petrokoriakin/repos","events_url":"https://api.github.com/users/petrokoriakin/events{/privacy}","received_events_url":"https://api.github.com/users/petrokoriakin/received_events","type":"User","site_admin":false},"html_url":"https://github.com/petrokoriakin/scorecard-sample","description":"a
        sample repo with few PRs and comments and approves for scorecard project purposes","fork":false,"url":"https://api.github.com/repos/petrokoriakin/scorecard-sample","forks_url":"https://api.github.com/repos/petrokoriakin/scorecard-sample/forks","keys_url":"https://api.github.com/repos/petrokoriakin/scorecard-sample/keys{/key_id}","collaborators_url":"https://api.github.com/repos/petrokoriakin/scorecard-sample/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/petrokoriakin/scorecard-sample/teams","hooks_url":"https://api.github.com/repos/petrokoriakin/scorecard-sample/hooks","issue_events_url":"https://api.github.com/repos/petrokoriakin/scorecard-sample/issues/events{/number}","events_url":"https://api.github.com/repos/petrokoriakin/scorecard-sample/events","assignees_url":"https://api.github.com/repos/petrokoriakin/scorecard-sample/assignees{/user}","branches_url":"https://api.github.com/repos/petrokoriakin/scorecard-sample/branches{/branch}","tags_url":"https://api.github.com/repos/petrokoriakin/scorecard-sample/tags","blobs_url":"https://api.github.com/repos/petrokoriakin/scorecard-sample/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/petrokoriakin/scorecard-sample/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/petrokoriakin/scorecard-sample/git/refs{/sha}","trees_url":"https://api.github.com/repos/petrokoriakin/scorecard-sample/git/trees{/sha}","statuses_url":"https://api.github.com/repos/petrokoriakin/scorecard-sample/statuses/{sha}","languages_url":"https://api.github.com/repos/petrokoriakin/scorecard-sample/languages","stargazers_url":"https://api.github.com/repos/petrokoriakin/scorecard-sample/stargazers","contributors_url":"https://api.github.com/repos/petrokoriakin/scorecard-sample/contributors","subscribers_url":"https://api.github.com/repos/petrokoriakin/scorecard-sample/subscribers","subscription_url":"https://api.github.com/repos/petrokoriakin/scorecard-sample/subscription","commits_url":"https://api.github.com/repos/petrokoriakin/scorecard-sample/commits{/sha}","git_commits_url":"https://api.github.com/repos/petrokoriakin/scorecard-sample/git/commits{/sha}","comments_url":"https://api.github.com/repos/petrokoriakin/scorecard-sample/comments{/number}","issue_comment_url":"https://api.github.com/repos/petrokoriakin/scorecard-sample/issues/comments{/number}","contents_url":"https://api.github.com/repos/petrokoriakin/scorecard-sample/contents/{+path}","compare_url":"https://api.github.com/repos/petrokoriakin/scorecard-sample/compare/{base}...{head}","merges_url":"https://api.github.com/repos/petrokoriakin/scorecard-sample/merges","archive_url":"https://api.github.com/repos/petrokoriakin/scorecard-sample/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/petrokoriakin/scorecard-sample/downloads","issues_url":"https://api.github.com/repos/petrokoriakin/scorecard-sample/issues{/number}","pulls_url":"https://api.github.com/repos/petrokoriakin/scorecard-sample/pulls{/number}","milestones_url":"https://api.github.com/repos/petrokoriakin/scorecard-sample/milestones{/number}","notifications_url":"https://api.github.com/repos/petrokoriakin/scorecard-sample/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/petrokoriakin/scorecard-sample/labels{/name}","releases_url":"https://api.github.com/repos/petrokoriakin/scorecard-sample/releases{/id}","deployments_url":"https://api.github.com/repos/petrokoriakin/scorecard-sample/deployments","created_at":"2021-04-27T16:20:56Z","updated_at":"2021-04-27T16:43:54Z","pushed_at":"2021-04-27T16:45:31Z","git_url":"git://github.com/petrokoriakin/scorecard-sample.git","ssh_url":"git@github.com:petrokoriakin/scorecard-sample.git","clone_url":"https://github.com/petrokoriakin/scorecard-sample.git","svn_url":"https://github.com/petrokoriakin/scorecard-sample","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"main"}},"base":{"label":"petrokoriakin:main","ref":"main","sha":"8be1ae4f9b1e979154336cf1881357712e9144dc","user":{"login":"petrokoriakin","id":242224,"node_id":"MDQ6VXNlcjI0MjIyNA==","avatar_url":"https://avatars.githubusercontent.com/u/242224?v=4","gravatar_id":"","url":"https://api.github.com/users/petrokoriakin","html_url":"https://github.com/petrokoriakin","followers_url":"https://api.github.com/users/petrokoriakin/followers","following_url":"https://api.github.com/users/petrokoriakin/following{/other_use[...]
